.productList {
    flex: 4;
    margin-top: 10px;
    overflow: auto;
}
.data-grid {
    user-select: none;
}
.data-product {
    display: flex;
    align-items: center;
}
.data-product-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.product-edit {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}
.product-delete {
    color: #dc3545;
    cursor: pointer;
}
.link-custom {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px;
}