.userList {
    flex: 4;
}
.data-grid {
    user-select: none;
}
.data-user {
    display: flex;
    align-items: center;
}
.data-user-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.user-edit {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}
.user-delete {
    color: #dc3545;
    cursor: pointer;
}
.admin {
    color: #3bb077;
    font-weight: bold;
}
.guest {
    color: #d95087;
}